.container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  max-width: 320px;
  width: 100%;
  text-align: left;
}

.notification {
  background: gainsboro;
  position: relative;
  padding: 16px;
  border-radius: 12px;
  color: black;
  text-transform: capitalize;
}

.notification button {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
